
*.obj
*.tlog
x64/Debug/VX-API.exe
*.pdb
.vs/VX-API/v17/.suo
*.vsidx
*.db
*.db-shm
*.lock
*.db-wal
*.opendb
*.ipch
*.idb
*.recipe
*.ilk
*.log
*.txt
*.bin
*.xml
*.sarif
*.lastcodeanalysissucceeded
*.iobj
*.ipdb
*.exe
VX-API/x64/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cpp
VX-API/x64/Debug/VX-API.vcxproj.AssemblyReference.cache
